{% extends 'adminlawyer/reportlayout.html' %}

{% block content %}

<main class="content">
	<div class="container-fluid p-0">



		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Report of Members</h5>
					</div>
					<div class="card-body">
						<table id="datatables-reponsive" class="table table-striped" style="width: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>Username</th>
									<th>Gender</th>
									<th>DOB</th>
									<th>Email</th>
									<th>Contact</th>
									<!-- <th>Experience<br>(Years)</th> -->
									<th>Age</th>
									<th>Qualification</th>
								</tr>
							</thead>
							<tbody>
								{% for row in result %}
								<tr>
									<td>{{row.lawyer_name}}</td>
									<td>{{row.username}}</td>
									<td>{{row.gender}}</td>
									<td>{{row.dob}}</td>
									<td>{{row.email}}</td>
									<td>{{row.contact}}</td>
									<!-- <td>{{row.experience}}</td> -->
									<td>{{row.age}}</td>
									<td>{{row.qualification}}</td>

									<!-- <td>{{row.status}}</td> -->
									<!-- <td>{{row.state}}</td> -->
									<!-- <td><a href="/adminlawyer/view/{{row.id}}">View</a></td> -->
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>
{% endblock %}