 {% extends 'user/layout.html' %}

{% block content %}

<div class="container-fluid py-5">
        <div class="container py-5">
            <div class="form-row" style="border: 2px solid gray; border-radius: 5px; padding: 15px; margin-top: 10px;">         
                    <div class="col-lg-8">
                        <h3 class="mb-4 text-uppercase">Contract Disputes</h3>
                        <label>Court : High Court</label><br>
                        <label>Judge : Sunil Mandaliya</label><br>
                        <label>Next Hearing Date : 12-March-2023</label>
                    </div>   
                    <div class="col-lg-4" >
                        <br>
                        <a href="" class="btn btn-primary " style="float: right; margin: auto; padding: auto;">View Details</a>
                    </div> 
            </div>
            <div class="form-row" style="border: 2px solid gray; border-radius: 5px; padding: 15px; margin-top: 10px;">         
                    <div class="col-lg-8">
                        <h3 class="mb-4 text-uppercase">Sales Tax Appeal</h3>
                        <label>Court : High Court</label><br>
                        <label>Judge : Dinesh Panchal</label><br>
                        <label>Next Hearing Date : 23-Feb-2023</label>
                    </div>   
                    <div class="col-lg-4" >
                        <br>
                        <a href="" class="btn btn-primary " style="float: right; margin: auto; padding: auto;">View Details</a>
                    </div> 
            </div>
            <div class="form-row" style="border: 2px solid gray; border-radius: 5px; padding: 15px; margin-top: 10px;">         
                    <div class="col-lg-8">
                        <h3 class="mb-4 text-uppercase">Mortgage Suit</h3>
                        <label>Court : High Court</label><br>
                        <label>Judge : Darshan Shrimali</label><br>
                        <label>Next Hearing Date : 25-Feb-2023</label>
                    </div>   
                    <div class="col-lg-4" >
                        <br>
                        <a href="" class="btn btn-primary " style="float: right; margin: auto; padding: auto;">View Details</a>
                    </div> 
            </div>
        </div>
    </div>

{% endblock %}