{% extends 'client/layout.html' %}
{% load static %}
{% block content %}

 <div class="main-content">
       <!-- start section -->
       <section class="big-section" style="background:lightgrey;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-xl-6 col-md-5 sm-margin-30px-bottom wow animate__fadeInLeft"><img src="{% static 'client/img/portfolio_lawyer4.png' %}" alt=""/></div>
                <div class="col-12 col-xl-5 col-lg-6 offset-lg-1 col-md-7">
                    <h5 class="alt-font text-extra-dark-gray"  style="font-size: 40px;"><b>PERSONAL PORTFOLIO</b><span style="font-size: 30px;"><br>Lisa Nguyen</span></h5>
                    <p class="margin-4-half-rem-bottom">Robert is an active member of several professional organizations related to education law, including the National Association of School Attorneys (NSBA), the Education Law Association (ELA), and the American Bar Association's Section of Education Law. He regularly attends conferences and seminars to stay updated on the latest developments in education law.<br><br>
                    Robert has been recognized for his contributions to the field of education law and has received awards for his dedication to advocating for students' rights and ensuring equitable education policies. Robert has over 15 years of experience practicing law, specifically in the field of education</p>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
     <!-- start section -->
     <section class="big-section" style="background:url() no-repeat top 110px left;">
        <div class="container">
            <div class="row align-items-center justify-content-center z-index-0 position-relative">
                <div class="col-12 col-lg-4 col-md-7 text-center text-lg-start last-paragraph-no-margin md-margin-30px-bottom xs-margin-30px-top  wow animate__fadeIn" data-wow-delay="0.2s">
                    <span class="alt-font font-weight-600 text-extra-dark-gray text-large text-uppercase d-block margin-20px-bottom" style="font-size: 25px;">About Lisa Nguyen</span>
                    <p class="text-large line-height-38px">I am graduated from a prestigious law school with a focus on education law. I completed my Juris Doctor (JD) degree with honors, specializing in educational policy and advocacy.</p>
                </div>
                <div class="col-12 col-lg-4 offset-lg-1 col-md-6 col-sm-4 text-center text-sm-start text-md-end padding-3-half-rem-tb ps-sm-0 tilt-box lg-padding-5-rem-tb md-padding-7-rem-tb home-freelancer-bg-img sm-no-padding-tb wow animate__zoomIn" data-wow-delay="0.4s" data-tilt-options='{ "maxTilt": 20, "perspective": 1000, "easing": "cubic-bezier(.03,.98,.52,.99)", "scale": 1, "speed": 500, "transition": true, "reset": true, "glare": false, "maxGlare": 1 }' >
                    <span class="text-big alt-font font-weight-600 text-uppercase text-extra-dark-gray image-mask cover-background letter-spacing-minus-10px md-letter-spacing-minus-5px xs-letter-spacing-minus-1-half" style= "background-image: url('{% static 'client//img//portfolio_lawyer4.png' %}')">15</span>
                </div>
                <div class="col-12 col-lg-3 col-md-4 col-sm-4 text-center text-sm-start wow animate__fadeInRight" data-wow-delay="0.7s">
                    <h5 class="alt-font font-weight-300 text-extra-dark-gray text-uppercase w-90 mb-0 margin-15px-left xs-no-margin-left sm-w-100">Years of <span class="font-weight-700">experience</span></h5>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 margin-6-half-rem-top">
                <div class="col sm-margin-30px-bottom text-center text-sm-start wow animate__fadeIn" data-wow-delay="0.2s">
                    <span class="alt-font font-weight-500 letter-spacing-1px d-block text-uppercase" style="font-size: 20px;">Expertise</span>
                    <span class="alt-font font-weight-500 text-extra-dark-gray d-block">Education law</span>
                </div>
                <div class="col sm-margin-30px-bottom text-center text-sm-start wow animate__fadeIn" data-wow-delay="0.4s">
                    <span class="alt-font font-weight-500 letter-spacing-1px d-block text-uppercase" style="font-size: 20px;">Born in</span>
                    <span class="alt-font font-weight-500 text-extra-dark-gray d-block">Newyork, USA</span>
                </div>
                <div class="col xs-margin-30px-bottom text-center text-sm-start wow animate__fadeIn" data-wow-delay="0.6s">
                    <span class="alt-font font-weight-500 letter-spacing-1px d-block text-uppercase" style="font-size: 20px;">Date of birth</span>
                    <span class="alt-font font-weight-500 text-extra-dark-gray d-block">26 December 1984</span>
                </div>
                <div class="col text-center text-sm-start wow animate__fadeIn" data-wow-delay="0.8s">
                    <span class="alt-font font-weight-500 letter-spacing-1px d-block text-uppercase" style="font-size: 20px;">Education</span>
                    <span class="alt-font font-weight-500 text-extra-dark-gray d-block">bachlor's in prestigious law</span>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="bg-light-gray overflow-visible big-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center overlap-section wow animate__flipInX">
                    <span class="alt-font font-weight-600 d-none d-md-inline-block text-greenish-gray-hover title-extra-large-heavy letter-spacing-minus-10px">achievement</span>
                </div>
            </div>
            <div class="row justify-content-center margin-3-rem-tb sm-no-margin-top">
                <!-- start fancy text box item -->
                <div class="col-12 col-lg-6 col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                    <div class="feature-box feature-box-left-icon-middle padding-3-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                        <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                            <h4 class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px mb-0">2021</h4>
                        </div>
                        <div class="feature-box-content alt-font line-height-28px border-left border-color-medium-gray padding-45px-lr lg-padding-35px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                            <span class="text-extra-dark-gray font-weight-500" style="font-size: 20px;">Recognition and Awards</span>
                        </div>
                    </div>
                </div>
                <!-- end fancy text box item -->
                <!-- start fancy text box item -->
                <div class="col-12 col-lg-6  col-md-8 col-sm-10 margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s">
                    <div class="feature-box feature-box-left-icon-middle padding-3-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                        <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                            <h4 class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px mb-0">2018</h4>
                        </div>
                        <div class="feature-box-content alt-font line-height-28px border-left border-color-medium-gray padding-45px-lr lg-padding-35px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                            <span class="text-extra-dark-gray alt-font font-weight-500" style="font-size: 20px;">Policy Advocacy</span>
                        </div>
                    </div>
                </div>
                <!-- end fancy text box item -->
                <!-- start fancy text box item -->
                <div class="col-12 col-lg-6  col-md-8 col-sm-10 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.6s">
                    <div class="feature-box feature-box-left-icon-middle padding-3-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                        <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                            <h4 class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px mb-0">2019</h4>
                        </div>
                        <div class="feature-box-content alt-font line-height-28px border-left border-color-medium-gray padding-45px-lr lg-padding-35px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                            <span class="text-extra-dark-gray alt-font font-weight-500" style="font-size: 20px;">Community Impact</span>
                        </div>
                    </div>
                </div>
                <!-- end fancy text box item -->
                <!-- start fancy text box item -->
                <div class="col-12 col-lg-6  col-md-8 col-sm-10 wow animate__fadeIn" data-wow-delay="0.8s">
                    <div class="feature-box feature-box-left-icon-middle padding-3-half-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px lg-padding-1-half-rem-lr xs-padding-2-rem-all">
                        <div class="feature-box-icon margin-40px-lr lg-margin-35px-lr xs-margin-20px-right xs-no-margin-left">
                            <h4 class="alt-font text-extra-dark-gray font-weight-600 letter-spacing-minus-1px mb-0">2023</h4>
                        </div>
                        <div class="feature-box-content alt-font line-height-28px border-left border-color-medium-gray padding-45px-lr lg-padding-35px-lr xs-padding-20px-left xs-no-padding-right last-paragraph-no-margin">
                            <span class="text-extra-dark-gray alt-font font-weight-500" style="font-size: 20px;">Landmark Case Victories</span>
                        </div>
                    </div>
                </div>
                <!-- end fancy text box item -->
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 align-items-center justify-content-center">
                <!-- start counter item -->
                <div class="col text-center sm-margin-40px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                    <h3 class="vertical-counter d-inline-flex text-extra-dark-gray alt-font appear font-weight-600 letter-spacing-minus-2px mb-0" data-to="15"></h3>
                    <span class="alt-font text-uppercase text-medium d-block margin-5px-top"><span class="font-weight-600">Working</span> hours</span>
                </div>
                <!-- end counter item -->
                <!-- start counter item -->
                <div class="col text-center sm-margin-40px-bottom wow animate__fadeIn" data-wow-delay="0.4s">
                    <h3 class="vertical-counter d-inline-flex text-extra-dark-gray alt-font appear font-weight-600 letter-spacing-minus-2px mb-0" data-to="200"></h3>
                    <span class="alt-font text-uppercase text-medium d-block margin-5px-top"><span class="font-weight-600">Case</span> Solved</span>
                </div>
                <!-- end counter item -->
                <!-- start counter item -->
                <div class="col text-center xs-margin-40px-bottom wow animate__fadeIn" data-wow-delay="0.6s">
                    <h3 class="vertical-counter d-inline-flex text-extra-dark-gray alt-font appear font-weight-600 letter-spacing-minus-2px mb-0" data-to="1000"></h3>
                    <span class="alt-font text-uppercase text-medium d-block margin-5px-top"><span class="font-weight-600">Work</span> completed</span>
                </div>
                <!-- end counter item -->
                <!-- start counter item -->
                <div class="col text-center wow animate__fadeIn" data-wow-delay="0.8s">
                    <h3 class="vertical-counter d-inline-flex text-extra-dark-gray alt-font appear font-weight-600 letter-spacing-minus-2px mb-0" data-to="50"></h3>
                    <span class="alt-font text-uppercase text-medium d-block margin-5px-top"><span class="font-weight-600">Awards</span> Won</span>
                </div>
                <!-- end counter item -->
            </div>
        </div>
    </section>
    <!-- end section -->
     <!-- start section -->
     <section class="sm-overflow-visible bg-light-gray wow animate__fadeIn">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-7 col-lg-6 text-center">
                    <span class="d-block text-fast-dark-gray margin-15px-bottom text-large">Love to work together</span>
                    <h5 class="text-extra-dark-gray alt-font font-weight-500 d-inline-block letter-spacing-minus-1">
                        Are you ready to solve your case with me?Contact my site.</h5>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <a href="/client/contact" class="btn btn-extra-large btn-fast-blue btn-rounded d-table d-lg-inline-block lg-margin-15px-bottom md-margin-auto-lr">Let's work with me</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    </div>
{% endblock %}